.header_container {
    width: 100%;
    height: 82px;
    background-color: transparent;
    color: white;
    padding: 0 36px 0 36px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header_container.scrolled {
    background-color: rgb(10, 10, 10); /* Cambia el color cuando se supere 82px */
}

.main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.left_container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.svg_left_container {
    cursor: pointer;
}

.svg_left_container:hover svg {
    fill: red;
    height: 25px;
}

.logo_riot {
    margin-right: 2px;
}

.items_container {
    height: 100%;
    display: flex;
    list-style-type: none;
    gap: 4px;
}

.right_container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.language_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.language_button:hover {
    background-color: #222;
}

.login_button {
    display: block;
    padding: 8px 16px 8px 16px;
    background-color: #aaa4;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 4px;
}

.href_button {
    text-decoration: none;
    color:white
}

.menu_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    background-color: #222;
    fill: white;
    cursor: pointer;
    display: none;
}


@media screen and (max-width: 1024px) {
    .menu_button {
        display: flex;
    }
    .login_button {
        display: none;
    }
    .items_container {
        display: none;
    }

    .language_button {
        padding: 14px;
        border-radius: 16px;
    }

    .language_button svg {
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width: 360px) {
    .logo_arcane {
        display: none;
    }

    .header_container {
        padding: 0 12px 0 12px;
    }
}