<section class="section_synopsis">
    <div class="content_container">
        <div class="titles_container">
            <h3 class="title_generic">
                <p class="title_description">Sinopsis de la segunda temporada de arcane</p>
                <strong class="main_title">Todo arderá</strong>
            </h3>
            <p class="description_text">El ataque de Jinx al Consejo preparó el terreno para que el conflicto entre Piltóver y Zaun alcance un nuevo nivel.</p>
        </div>
        <div class="image_container">
            <img class="image" src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/36edcf0527cc1cafabecf5e27647b73e10c96cca-1920x1080.png?auto=format&fit=fill&q=80&w=849" alt="Portada de sinopsis">
        </div>
    </div>
    <div class="background_container_image">
        <img class="image" src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/a896937c9837514617dbe97f9a1ac0baad9b1df5-2000x762.png?auto=format&fit=fill&q=80&h=762" alt="background image">
    </div>
</section>
