.relative_container {
    width: 100%;
    height: calc(100vh + 42px);
    position: relative;
    font-family: Tungsten-Bold, sans-serif;
    overflow: hidden;       /*POR VERSE*/
}

@media screen and (max-width: 700px) {
    .relative_container {
        height: calc(100dvh - 136px);
    }
}

.main_container {
    height: 100%;
}

.video_container {
    height: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0px -40px 48px -3px rgba(10, 10, 10, 0.77);
}

.video_container::before {
    display: block;
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: inset 0px -70px 48px -3px rgba(10, 10, 10, 0.9);
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title_container {
    position: absolute;
    left: 48px;
    top: 36px;
    max-width: 400px;
    min-width: 200px;
    width: 100%;
}

.image_container {
    cursor: pointer;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    display: block;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    text-wrap: balance;
    color: white;
    line-height: 1.2;
}

.title span {
    display: inline;
    background-color: black;
    padding: 4px 8px;
    box-decoration-break: clone;   /* funcion god para aplicar estilado por linea en los textos */
    -webkit-box-decoration-break: clone;
}

.button_container {
    position: absolute;
    top: 30px;
    right: 46px;
    text-transform: uppercase;
    color: white;
    font-size: 36px;
    padding: 16px 32px;
    background: linear-gradient(0deg, rgba(61, 82, 143, 0) 0%, rgba(10, 10, 10, 0.4) 100%), rgb(61, 82, 143);
    border: 2px solid rgb(61, 82, 143);
    transition: background-color 0.25s ease-in-out;
}

.button_container:hover {
    background: linear-gradient(0deg, rgba(99, 116, 165, 0) 0%, rgba(10, 10, 10, 0.4) 100%), rgb(99, 116, 165);
    border-color:rgb(99, 116, 165);
}

.button_ref {
    text-decoration: none;
    color: inherit;
}

.netflix_container {
    position: absolute;
    bottom: 280px;
    right: 46px;
    background-color: rgba(10, 10, 10, 0.72);    ;
    font-size: 18px;
    padding: 20px 58px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.2);
    clip-path: polygon(100% 0, 100% 80%, 90% 100%, 0 100%, 0 0);
}

.netflix_description{
    text-transform: uppercase;
    margin-bottom: 16px;
}

.netflix_image_container {
    width: 124px;
    overflow: hidden;
}

.netflix_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .netflix_container {
        right: auto;
        left: 48px;
        bottom: 324px;
    }

    .title_container {
        top: 24px;
        right: 400px;
        width: clamp(300px,40vw,400px);
    }

    .title {
        font-size: clamp(28px, 3.1vw, 36px);
    }

    .button_container {
        padding: 12px 32px;
    }
}

@media screen and (max-width: 700px) {
    .netflix_container {
        display: none;
    }

    .title_container {
        top: 28px;
        right: 0;
        left: 0;
        margin: auto;
        width: clamp(0px,40vw,300px);
    }

    .title_container {
        min-width: none;
    }
    
    .button_container {
        top: auto;
        bottom: clamp(140px,40vw,240px);
        right: 0;
        left: 0;
        margin: auto;
        width: min-content;
    }
}