<main class="relative_container">
    <div class="main_container">
        <div class="video_container">
            <video class="video" [muted]="true" [autoplay]="true" [loop]="true" [playsInline]="true" role="presentation">
                <source src="https://cmsassets.rgpub.io/sanity/files/dsfx7636/news/8ca377434ec75445478d3d5d88acbd2aa5e8e86c.mp4" type="video/mp4">
                No compatible
            </video>                         
        </div>
        <div class="title_container">
            <div class="image_container">
                <img class="image" src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/ac9b8831448aa29116ec7082b31170d77e0f1afa-4096x1662.png?auto=format&fit=fill&q=80&h=212" alt="Logo de arcane y league or legends">
            </div>
            <h1 class="title">
                <span>La segunda temporada de arcane ya está disponible </span>
            </h1>
        </div>
        <div class="button_container">
            <a class="button_ref" href="https://www.netflix.com/title/81435684" target="_blank" rel="noopener">Ver</a>
        </div>
    </div>
</main>
