.notification_section {
    width: calc(100% - 96px);
    margin: auto;
    height: calc(100vh - 90px);
    position: relative;
    padding: 48px 0;
    overflow: hidden;
    max-width: 2000px;
    max-height: 800px;
}

@media screen and (max-width: 420px) {
    .notification_section {
        height: auto;
        width: calc(100% - 48px);
    }
}

.title_notification {
    font-size: 48px;
    font-family: Tungsten-Bold, sans-serif;
    font-weight: 375;
    text-transform: uppercase;
    color: white;
}

.carousel_notifications {
    margin-top: 28px;
    list-style: none;
    display: flex;
    gap: 32px;
    transform: translate3d(0px,0,0);
    user-select: none;
}

.navegation_section {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.navegation_section .line_container {
    flex: 1;
    position: relative;
}

.line_container::before {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 2px;
    background-color: rgb(10, 10, 10);
}

.navegation_section hr {
    width: 100%;        /* Barra de progreso */
    transition: width 0.6s ease-in-out;
}

.buttons_container button {
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: min-content;
    fill: rgb(167, 182, 227);
    background-color: transparent;
}

.button_left {
    transform: rotate(180deg);
    margin-right: 8px;
}