<section class="notification_section" (mousedown)="onMouseDown($event)" [draggable]="false">
    <h3 class="title_notification">Celebra dentro del juego</h3>
    <ol class="carousel_notifications">
        @for (item of items; track $index) {
            <app-notification-card [title]="item.title" [description]="item.description" [imageUrl]="item.image" [dateNotification]="item.date" />
        }
    </ol>
    <div class="navegation_section">
        <div class="line_container" dir="rtl">
            <hr id="line">
        </div>
        <div class="buttons_container">
            <!-- <button (click)="onBackward()" class="button_left" [disabled]="!buttonLeft"> -->
            <button id="button_left" class="button_left" (click)="onBackward()" [disabled]="!buttonLeft">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" viewBox="0 0 15 15"><path d="M8.293 2.293a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L11 8.5H1.5a1 1 0 0 1 0-2H11L8.293 3.707a1 1 0 0 1 0-1.414"/></svg>
            </button>
            <!-- <button (click)="onForward()" class="button_right" [disabled]="!buttonRight"> -->
            <button id="button_right" class="button_right" (click)="onForward()" [disabled]="!buttonRight">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" viewBox="0 0 15 15"><path d="M8.293 2.293a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L11 8.5H1.5a1 1 0 0 1 0-2H11L8.293 3.707a1 1 0 0 1 0-1.414"/></svg>
            </button>
        </div>
    </div>
</section>