<section class="characters_section" draggable="false">
    <div class="background_container">
        <img src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/a896937c9837514617dbe97f9a1ac0baad9b1df5-2000x762.png?auto=format&fit=fill&q=80&h=762" alt=" background" class="image">
    </div>
    <div class="description_container">
        <div class="titles_container">
            <span>Temporada 2 de Arcane</span>
            <h2>PERSONAJES</h2>
        </div>
        <div class="carousel_main_container" draggable="false">
            <ul class="carousel_container" (mousedown)="onMouseDown($event)" >
                @for (item of items; track $index) {
                    <li [id]="'item_character' + $index" class="item_carousel" (click)="setIndex($index)">
                        <div class="image_container">
                            <img class="image" src="{{ item.image }}" alt="{{ item.name }}" draggable="false">
                        </div>
                        <p>{{ item.name }}</p>
                    </li>
                }
            </ul>
        </div>
        <div class="navegation_section">
            <div class="line_container" dir="rtl">
                <hr id="lineTest">
            </div>
            <div class="buttons_container">
                <!-- <button (click)="onBackward()" class="button_left" [disabled]="!buttonLeft"> -->
                <button class="button_left" id="button_leftTest" (click)="onBackward()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" viewBox="0 0 15 15"><path d="M8.293 2.293a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L11 8.5H1.5a1 1 0 0 1 0-2H11L8.293 3.707a1 1 0 0 1 0-1.414"/></svg>
                </button>
                <!-- <button (click)="onForward()" class="button_right" [disabled]="!buttonRight"> -->
                <button class="button_right" id="button_rightTest" (click)="onForward()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" viewBox="0 0 15 15"><path d="M8.293 2.293a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L11 8.5H1.5a1 1 0 0 1 0-2H11L8.293 3.707a1 1 0 0 1 0-1.414"/></svg>
                </button>
            </div>
        </div>
    </div>
    <div class="character_selected_container">
        <div class="character_image_container">
            <img class="image" [src]="items[getIndex()].image" [alt]="items[getIndex()].name" draggable="false">
        </div>
        <div class="description_character_container">
            <h3>
                {{ items[getIndex()].name }}
            </h3>
            <p>
                {{ items[getIndex()].description }}
            </p>
        </div>
    </div>
</section>
