.carousel_container {
    position: absolute;
    bottom: 12px;
}

.container_items {
    display: flex;
    column-gap: 24px;
    transform: translate3d(0px, 0px, 0px);
    /* transform: translate3d(-354px, 0px, 0px); */
    /* transform: translate3d(-670px, 0px, 0px); */
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.testing {
    position: relative;
    padding: 0 48px;
    width: 100%;
}

@media screen and (max-width: 400px) {
    .testing {
        padding: 0 24px;
    }
}

@media screen and (max-width: 700px) {
    .buttons_container {
        display: none;
    }
}

 /* MOMENTANEO */


.buttons_container {
    position: absolute;
    bottom: 222px;
    right: 46px;
    

}

.buttons_container button {
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: min-content;
    fill: rgb(167, 182, 227);
    background-color: transparent;
}

.button_left {
    transform: rotate(180deg);
    margin-right: 8px;
}