.carousel_container {
    position: absolute;
    bottom: 0px;
}

.container_items {
    display: flex;
    column-gap: 24px;
    transform: translate3d(0px, 0px, 0px);
    /* transform: translate3d(-354px, 0px, 0px); */
    /* transform: translate3d(-670px, 0px, 0px); */
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.testing {
    position: relative;
    padding: 0 48px;
    width: 100%;
}



 /* MOMENTANEO */


.buttons_container {
    position: absolute;
    top: -30px  ;

}

.buttons_container button {
    background-color: brown;
    width: 200px;
    cursor: pointer;
}